$base-color: #000000;

* { 
    margin: 0;
  }

html{
    scroll-behavior:smooth;
}

body{
    font-family: 'Montserrat';
   
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  .animate-fadeIn {
    animation: fadeIn 0.7s ease-in forwards;
  }

@media(prefers-reduced-motion) {
    .animate-fadeIn{
        transition:none;
    }
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: $base-color;
    min-width: 160px;
    z-index: 1;  
    padding: 12px 16px;
}
.dropdown-content a{
    padding-top:10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.designer{
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.button{
    display:inline-block;
    font-family: 'Montserrat';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    color:$base-color;
    margin-top:30px;
    margin-bottom:30px;
    border: solid $base-color;

    padding-left: 30px; 
    padding-top: 15px;
    padding-right: 35px;
    padding-bottom: 15px;
    
    transition-property: color, background-color;
    transition-duration: 1s;
}
.examples{
    display:flex;
    gap:1%;
    background-color: #E0E0E0;
    padding-top: 8rem;
    padding-bottom: 8rem;
}
.example-projects{
    margin-left:3%;
    align-self: center;
    margin-right:20%;  
}
.example-projects a:hover, .example-projects a:focus, .example-projects a:active{
    color:#ffffff;
    background-color: $base-color;
}
.example-img1{
    background-image: url(/img/MOA02.png);
    width:28%;
    min-height:500px;
    background-size:cover;
}
.example-img2{
    background-image: url(/img/complex01.png);
    width:28%;
    min-height: 500px;;
    background-size: cover;
}

.example1-main-banner{   
    height:52rem;
    background-attachment: fixed;
    background-position:center 10%;
    background-repeat: no-repeat;
    background-size:cover;
    background-image: url(/img/MOA-banner.png);
}
.example1-second-banner{
    height:45rem;
    background-attachment: fixed;
    background-position:center 10%;
    background-repeat: no-repeat;
    background-size:cover;
    background-image: url(/img/MOA-exterior.png);
}
.example1-overview{
    padding-left: 21%;
    padding-right: 21%;
    display:flex;
    justify-content: space-evenly;
    padding-top: 1rem;
    padding-bottom: 4rem;
    background-color: $base-color;
}
.example-details{
    padding-top: 4rem;
    padding-bottom: 4rem;  
}
.example-overview-text{
    padding-left:20%;
    margin-top:40px;
}
.example2-main-banner{
    height:45rem;
    background-attachment: fixed;
    background-position:bottom;
    background-repeat: no-repeat;
    background-size:cover;
    background-image: url(/img/lawcourts-interior.jpg);
}
.example2-overview-text{
    margin-top:40px;
    width:70%;
}
.example2-overview{
    padding-left: 21%;
    padding-right: 21%;
    display:flex;
    justify-content: space-evenly;
    padding-top: 1rem;
    padding-bottom: 4rem;
    background-color: #ffffff;
}
.example2-second-banner{
    height:45rem;
    background-attachment: fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    background-image: url(/img/lawcourts-exterior.jpg);
}

.citations{   
    display:flex;
    background-attachment: fixed;
    background-position:left;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/img/lawcourts-exterior.jpg);
}
.citations-text{
    width:40vw;
    margin: 20rem 10rem 10rem 10rem;
    padding:4rem 8rem 4rem 8rem;
    align-self: center;
    background-color: #FFFFFF;
}
.citation{
    padding-bottom: 20px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 650px 650px 650px;
    grid-column-gap: 0px;
    grid-row-gap: 30px;
}

.designer-parent {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 650px 650px;
    grid-column-gap: 0px;
    grid-row-gap: 10px;
}
    
.div1 {
    background:url(/img/ericksonPortrait.png) center center;
    background-size: cover;
    grid-area: 1 / 1 / 2 / 5; 
}
.example-div1 {
    background:url(/img/MOA-ramp-up.png) center center;
    background-size: cover;
    grid-area: 1 / 1 / 2 / 5; 
}
.example2-div1 {
    background:url(/img/lawcourts-interior-seating.png) center center;
    background-size: cover;
    grid-area: 1 / 1 / 2 / 5; 
}

.div2 {
    align-self: center;
    grid-area: 1 / 6 / 2 / 10; 
}

.div3{
    padding-left: 10%;
    padding-right: 20%;
    align-self: center;
    grid-area: 2 / 3 / 3/ 9; 
}
.div4{
    background:url(/img/sfuBurnaby.png) center center;
    background-size:cover;
    grid-area: 2 / 9 / 3/ 13; 
}
.example-div4{
    background:url(/img/moa-hall.png) center center;
    background-size:cover;
    grid-area: 2 / 9 / 3/ 13; 
}
.example2-div4{
    background:url(/img/lawcourts-waterfalls.png) center center;
    background-size:cover;
    grid-area: 2 / 9 / 3/ 13; 
}
.example-div5{
    background:url(/img/MOA-hall.jpg) center center ;
    background-size:cover;
    grid-area: 3 / 1 / 4/ 5; 
}
.example2-div5{
    background:url(/img/lawcourts-ramp.png) center center ;
    background-size:cover;
    grid-area: 3 / 1 / 4/ 5; 
}
.example-div6{
    background:url(/img/MOA-sideview.png) center center ;
    background-size:cover;
    grid-area: 3 / 6 / 4/ 13; 
}
.example2-div6{
    background:url(/img/lawcourts-distanced-view.jpg) center center ;
    background-size:cover;
    grid-area: 3 / 6 / 4/ 13; 
}


.footer{
    display:grid;
    grid-column-gap: 0px;
    grid-template-columns: repeat(12,1fr);
    grid-auto-rows: auto;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background-color: #000000;
}
.footer-main-site{
    padding-left: 19%;
    grid-column-start: 2;
    grid-column-end: 6;
    align-self:center;   
}
.footer-info{
    padding-left: 10%;
    grid-column-start: 6;
    grid-column-end: 11;
    display:flex;
    justify-content: space-between;
}
.footer-main-site a{
    color:#949494;
    text-decoration: none;
    transition-property: color;
    transition-duration: 1s;
}
.footer-main-site a:hover, .footer-main-site a:focus, .footer-main-site a:active{
    color:#ffffff;   
}
